* {
    margin: 0;
    user-select: none;
}

.hide-cursor {
    cursor: none;
}

canvas {
    width: 100%;
    height: 100%;
}

.score{
    margin: 10px;
    display: flex;
    position: absolute;
    justify-content: space-around;
    padding: 10px 20px;
    width: 125px;
    font-size: 26px;
    border: 3px solid rgba(0, 0, 255, 0.55);
    border-radius: 31%;
    color: rgba(0, 0, 255, 0.55);
    cursor: none;
    z-index: 2;
}

.menu-screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("../res/images/background.jpg") no-repeat 100% 100%;
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.menu{
    /*background: dimgrey;*/
    background: rgba(105, 105, 105, 0.7);
    width: 600px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button{
    border: 3px solid white;
    font-size: 40px;
    padding: 15px;
    width: 300px;
    border-radius: 31%;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.button:hover{
    border: 3px solid rgba(0, 0, 255, 0.65);
    color: rgba(0, 0, 255, 0.65);
}

.hide {
    display: none;
}

.loading{
    margin: 5px;
    width: 150px;
    height: 110px;
    border: 3px solid rgba(0, 0, 255, 0.65);
    /*color: white;*/
    color: rgba(0, 0, 255, 0.75);
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
